 *{
            margin: 0;
            padding: 0;
            font-family:Jost, sans-serif;
        }

        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #491e1e;
        }

        table{
            background-color: #e7e4de;
            margin: 0 auto;
            border-collapse: collapse;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            border-radius: 15px;
        }

        caption {
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            font-size: 20px;
            padding: 10px;
            background-color: #C8AE7E;
            border: 1px thin black;
            border-bottom: none;
            border-radius: 15px 15px 0 0;
        }

        tr{
            border: 1px thin black;
            border-radius: 15px;
        }

        td{
            padding: 5px;
            text-align: center;
            border: 1px solid black;
        }

        input {
            width: 100%;
            height: 50px;
            text-align: right;
            font-size: 24px;
            padding: 0 10px;
            box-sizing: border-box;
            border: 1px solid #ede0e0;
            background-color: white;
            border-radius: 10px;
        }

        .AC-btn{
            background-color:#C8AE7E;
            padding: 15px 30px;
            margin: 8px;
            border: none;
            text-align: center;
            font-size: 25px;
            border-radius: 15px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        .AC-btn:hover {
            background-color: #b89c6a;
             transform: scale(1.05);
        }

        .btn{
            background-color:#e8d3ad;
            padding: 15px 30px;
            margin: 8px;
            border: none;
            text-align: center;
            font-size: 25px;
            border-radius: 15px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        .btn:hover {
            background-color: #d9c298;
             transform: scale(1.05);
        }

        .Equal-btn{
            background-color:#C8AE7E;
            padding: 15px 30px;
            margin: 8px;
            border: none;
            text-align: center;
            font-size: 25px;
            border-radius: 15px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        .Equal-btn:hover {
            background-color: #b89c6a;
             transform: scale(1.0);
        }